/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	font-family: "PTSansRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: circle;
    padding-left: 40px;
}

ul ul {
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
	font-family: "DejaVuSansCondensedBold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote cite {
    font-family: "PTSansCaptionRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-family: "PTSansCaptionRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0 0 6px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	font-family: "PTSansCaptionRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alert {
    background-color: #fff6df;
    border-color: #ffe3a0;
    color: #ff8a00;
}

.alert-error {
    background-color: #ffe4e4;
    border-color: #ffafaf;
    color: #cc0000;
}

.alert-success {
    background-color: #f0f8db;
    border-color: #d3e992;
    color: #669900;
}

.alert-info {
    background-color: #E2F4FB;
    border-color: #A8DFF4;
    color: #0099CC;
}


a.btn {
    text-decoration: none;
}

.btn-primary,
.btn-primary:visited {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #33B5E5;
  background-image: -moz-linear-gradient(top, #33B5E5, #0099CC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33B5E5), to(#0099CC));
  background-image: -webkit-linear-gradient(top, #33B5E5, #0099CC);
  background-image: -o-linear-gradient(top, #33B5E5, #0099CC);
  background-image: linear-gradient(to bottom, #33B5E5, #0099CC);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33B5E5', endColorstr='#ff0099CC', GradientType=0);
  border-color: #0099CC #0099CC #333333;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0099CC;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0099CC;
  *background-color: #0099CC;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #33B5E5 \9;
}

.btn-info,
.btn-info:visited {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #AA66CC;
  background-image: -moz-linear-gradient(top, #AA66CC, #9933CC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AA66CC), to(#9933CC));
  background-image: -webkit-linear-gradient(top, #AA66CC, #9933CC);
  background-image: -o-linear-gradient(top, #AA66CC, #9933CC);
  background-image: linear-gradient(to bottom, #AA66CC, #9933CC);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffAA66CC', endColorstr='#ff9933CC', GradientType=0);
  border-color: #9933CC #9933CC #333333;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #9933CC;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #9933CC;
  *background-color: #9933CC;
}
.btn-info:active,
.btn-info.active {
  background-color: #AA66CC \9;
}

.btn-success,
.btn-success:visited {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #99CC00;
  background-image: -moz-linear-gradient(top, #99CC00, #669900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC00), to(#669900));
  background-image: -webkit-linear-gradient(top, #99CC00, #669900);
  background-image: -o-linear-gradient(top, #99CC00, #669900);
  background-image: linear-gradient(to bottom, #99CC00, #669900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99CC00', endColorstr='#ff669900', GradientType=0);
  border-color: #669900 #669900 #333333;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #669900;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #669900;
  *background-color: #669900;
}
.btn-success:active,
.btn-success.active {
  background-color: #99CC00 \9;
}


.btn-warning,
.btn-warning:visited {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #FFBB33;
  background-image: -moz-linear-gradient(top, #FFBB33, #FF8800);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFBB33), to(#FF8800));
  background-image: -webkit-linear-gradient(top, #FFBB33, #FF8800);
  background-image: -o-linear-gradient(top, #FFBB33, #FF8800);
  background-image: linear-gradient(to bottom, #FFBB33, #FF8800);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFFBB33', endColorstr='#ffFF8800', GradientType=0);
  border-color: #FF8800 #FF8800 #333333;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #FF8800;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #FF8800;
  *background-color: #FF8800;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #FFBB33 \9;
}

.btn-danger,
.btn-danger:visited {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #FF4444;
  background-image: -moz-linear-gradient(top, #FF4444, #CC0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF4444), to(#CC0000));
  background-image: -webkit-linear-gradient(top, #FF4444, #CC0000);
  background-image: -o-linear-gradient(top, #FF4444, #CC0000);
  background-image: linear-gradient(to bottom, #FF4444, #CC0000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF4444', endColorstr='#ffCC0000', GradientType=0);
  border-color: #CC0000 #CC0000 #333333;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #CC0000;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #CC0000;
  *background-color: #CC0000;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #FF4444 \9;
}

.btn-inverse,
.btn-inverse:visited {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-link,
.btn-link:visited {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings.png");
}

.icon-white,
.nav > .active > a > [class^="icon-"],
.nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png");
}



/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}
		
	/* 1280px and up */
	@media only screen and (min-width: 1280px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/



@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('../fonts/PT-Sans/PTC55F-webfont.eot');
    src: url('../fonts/PT-Sans/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PTC55F-webfont.woff') format('woff'),
         url('../fonts/PT-Sans/PTC55F-webfont.ttf') format('truetype'),
         url('../fonts/PT-Sans/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/PT-Sans/PTS55F-webfont.eot');
    src: url('../fonts/PT-Sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PT-Sans/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PT-Sans/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'DejaVuSansCondensedBold';
    src: url('../fonts/DejaVu-Sans/DejaVuSansCondensed-Bold-webfont.eot');
    src: url('../fonts/DejaVu-Sans/DejaVuSansCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DejaVu-Sans/DejaVuSansCondensed-Bold-webfont.woff') format('woff'),
         url('../fonts/DejaVu-Sans/DejaVuSansCondensed-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DejaVu-Sans/DejaVuSansCondensed-Bold-webfont.svg#DejaVuSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}









